<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="d-flex">
        <img class="mt-2 mr-4" src="images/sad.svg" width="60" height="60" />
        <div>
            <div class="h1">Your browser is not supported.</div>
        </div>
    </div>
</div>